h1{
    font-size:55px;
    margin:40px 0;
    font-weight: bold;
    color:#666;
}

.home-stats .stat{
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 15px;
    color:#fff;
    border-radius:10px;
    position:relative;
    overflow:hidden;
}
.home-stats .stat i{
    position:absolute;
    font-size: 80px;
    top:35px;
    left:30px;
}
.home-stats .stat .admin-info{
    float:right;
}
.home-stats .stat a{
    color:#fff;
}
.home-stats .stat a:hover{
    text-decoration:none;
}
.home-stats .stat span{
    display:block;
    font-size: 60px;
}
.home-stats .admin-st-fournisseurs{
    background-color: #3498db;
}
.home-stats .admin-st-pending{
    background-color: #c0392b;
}
.home-stats .admin-st-items{
    background-color: #d35400;
}
.home-stats .admin-st-comments{
    background-color: #8e44ad;
}
.latest{
    margin-top:30px;
}
.latest .admin-toggle-info{
    color:#999;
    cursor:pointer;
}
.latest .admin-toggle-info:hover{
    color:#444;
}
.admin-latest-users{
    margin-bottom:0;
}
.admin-latest-users li{
    padding:10px;
    overflow:hidden;
}
.admin-latest-users li:nth-child(odd){
    background-color: #eee;
}
.admin-latest-users .btn-success{
    padding:2px 8px;
}